.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: var(--btn-txt-cl); */
}
/* .clients-pic {
  display: flex;
  flex-direction: column;
} */
.clients__pic-list {
  @extend %reset-list;
  display: flex;
  justify-content: space-between;
}
/* .clients-pic-item {
  width: 170px;
  height: 90px;
} */
