.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  /* background-color: var(--btn-txt-cl); */
}
/* .clients-pic {
  display: flex;
  flex-direction: column;
} */
.clients__pic-list {
  @extend %reset-list;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  justify-content: space-between;
}
/* .clients-pic-item {
  width: 170px;
  height: 90px;
} */
