.main-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btn-txt-cl);
}
.feature__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section-title {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.team__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.footer__advantege-title {
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    color: var(--btn-txt-cl);
}
.title__project {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.register-form-title {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
}